.my-card__wrapper {
  height: 40rem;
  padding: 20px;
  width: 750px;
}

.my-card {
  margin: auto;
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgb(150 142 166 / 8%);
  display: grid;
  grid-template-areas:
      "e"
      "f";
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr auto;
  height: 100%;
  max-height: 44rem;
  padding: 1.5rem 2rem 2rem;
  position: relative;
  width: 100%;
}

.my-card__bg {
  bottom: 0;
  height: 100%!important;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%!important;
}

.my-card__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.my-card__picture-wrapper {
  align-items: center;
  background: #fff;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.txt-buttons {
  color: #333640;
  font-family: Gilroy,sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: 1.625rem;
  font-weight: 600;
}

.my-card__edit {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  z-index: 3;
}

.my-card__main {
  display: flex;
  flex-direction: column;
  grid-area: f;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.my-card__wish-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}

.my-card__wish {
  align-items: center;
  color: #333640;
  display: flex;
  flex-direction: column;
  font-family: Gilroy,sans-serif;
  font-size: 1.4375rem;
  font-weight: 600;
  grid-area: g;
  justify-content: flex-start;
  letter-spacing: 0;
  line-height: 2rem;
  max-height: 30rem;
  overflow-wrap: anywhere;
  overflow-y: auto;
  text-align: center;
  white-space: break-spaces;
  width: 100%;
}

.btn-secondary {
  align-items: center;
  background: #fff;
  border: 1.5px solid rgba(235,241,246,.92);
  border-radius: 6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 3.5rem;
  justify-content: center;
  margin: 0.5rem 0;
  outline: none;
  padding: 0.8rem 1.4rem;
  position: relative;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.my-card__info__bottom-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  width: 100%;
}

.my-card__info__action {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.btn-main {
  align-items: center;
  border-radius: 6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 3.5rem;
  justify-content: center;
  margin: 0.5rem 0;
  outline: none;
  padding: 0.8rem 1.4rem;
  position: relative;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.btn-main:hover {
  transition: box-shadow .4s ease-in-out
}

.btn-main:hover:after {
  opacity: 1;
  transition: opacity .2s ease-in-out,box-shadow .4s ease-in-out;
}

.btn-main:after {
  box-shadow: 0 0.3125rem 0.75rem 0.0625rem rgb(236 102 98 / 24%);
}

.btn-main:after {
  border-radius: 6rem;
  content: "";
  display: inline;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .2s ease-in-out,box-shadow .4s ease-in-out;
  width: 100%;
  z-index: 0;
}

.btn-main:active:after {
  box-shadow: 0 .3125rem .75rem .0625rem rgba(236,102,98,.24)
}

.btn-main:active {
  background-color: #eb5e55
}

.txt-grey {
  color: #8d96a8;
}





@media (max-width: 750px) {

  .my-card__wrapper {
    max-width: 750px;
  }

}