@import './variables/var.scss';

.faq {
    margin-top: 100px;
    width: 100%;
}
.faq__wrapper {
    max-width: 1500px;
    margin: 0 auto;
}
.faq__button {
    width: 100px;
    height: 40px;
}
.btn.faq__button.active {
background-color: $scr-btn-bg !important;
}