// Import all of Bootstrap's CSS
@import './variables/var.scss';

@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-ExtraBold.otf');
    src: url('./assets/fonts/Gilroy-Light.otf');
}

.accordion-button {
    background-color: unset !important;
    color: unset !important;
}

html {
    height: 100%;
}

a {
    text-decoration: none !important;
    color: $reg-color;
    cursor: pointer;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    font-family: Gilroy, sans-serif;
}

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

textarea {
    resize: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixed_center {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header {
    width: 100%;
    max-height: 80px;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #ebf1f6;
}
.header__wrapper {
    height: 100%;
    width: 95%;
    max-width: 1500px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo::after {
    content: '.';
    color: red;
}

.logo .nav__link {
    color:  var(--bs-body-color); ;
}

.navigation__reg {
    color: $reg-color;
    font-family: Gilroy, sans-serif;
    font-size: 1rem;
}

.navigation__reg .nav__link{
    color: $reg-color;
    font-family: Gilroy, sans-serif;
    font-size: 1rem;
}
.nav {
    width: fit-content;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#root {
    flex: 1 1 auto;
}
.footer {
    width: 100%;
    height: auto;
    background-color: $footer-bg;
    margin-top: 20px;
}
.footer__wrapper {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.footer_img-rs {
    width: 100px;
    height: auto;
}

.footer__buttons {
    color: white;
    width: 40%;
    height: fit-content;
}

.footer__buttons .nav__link {
    color: white;
}

.footer__buttons .col {
    min-width: 150px;
    height: fit-content;
} 
.footer_date {
    color: white;
}

.footer__link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.footer_img-git {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 0.1px solid white;
    background-color: white;
    border-radius: 30px;
}

.footer__name {
    display: inline-block;
    width: 65%;
    font-weight: 500;
    font-family: Gilroy, sans-serif;
}

.footer__produced {
    width: 250px;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    padding: 5px;
}

.footer__header {
    display: block;
    color: white;
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: start;
    margin-bottom: 5px;
}

@media (max-width: 700px) {
    .main__button {
        margin: 10px 0;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    .accordion-body {
        font-size: 14px;
    }
.nav {
    width: 200px;
}
}
