@import './variables/var.scss';

.main {
    margin: 0 auto;
    width: 100%;
}

.main__wrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    //border: solid red;
    margin: 0 auto;
}

.main__button {
    border-radius: 50px;
    width: fit-content;
    min-width: 200px;
    height: 60px;
    border: 0.1px solid rgb(233, 233, 233);
    font-weight: 400;
}

.main__button.active {
    background-color: $btn-active !important;
    color: white;
    border: none;
}

.main__banner {
    width: 100%;
    height: 320px;
    position: relative;
    top: 65px;
    background: linear-gradient(180deg, #d0e5f2, #d0e5f2 54%, #fdfdff);
    overflow: hidden;
}

.main__lights {
    position: absolute;
    top: 240px;
}


.subheader {
    max-width: 540px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.subheader p {
    font-size: 21px;
    font-family: Gilroy, sans-serif;
}

.how {
    width: 100%;
}

.how .row {
    margin-bottom: 50px;
}

.how__text {
    width: 50%;
    height: auto;
    padding-top: 25px;
}

.how__numbers {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: $number-color;
    background: $number-bg;
}

.screenshot {
    width: 640px;
    min-width: 290px;
    height: 640px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.screenshot__col {
    margin: 20px 0;
}

.screenshot__container {
    width: 80%;
    height: 80%;
    padding: 20px 0;
    border-radius: 30px;
    background-color: white;
    position: relative;
}

.screenshot--cost {
    background-color: $cost-bg;
}

.screenshot--part {
    background-color: $part-bg;
}

.screenshot--ward {
    background-color: $ward-bg;
}

.screenshot__header {
    padding: 10px;
}

.screenshot__second-row {
    flex-direction: row-reverse;
}

.screenshot__second-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.screenshot__body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screenshot__limit {
    background-color: $limit-bg;
    width: 95%;
    height: auto;
    border-radius: 15px;
    padding: 20px 30px;
    margin-left: 10px;
}

.screenshot__toggle-input {
    background-color: $toggle-bg !important;
    width: 45px !important;
    height: 25px !important;
    border-radius: 15px;
    border: unset;
    padding: 3px;
}

.screenshot__inputs {
    margin: 20px 0;
}

.screenshot__footer {
    position: absolute;
    width: 100%;
    border-radius: 0 0 30px 30px;
    bottom: 0;
    height: 15%;
    background-color: $footer-bg;
    color: white;
}

.screenshot__footer-row {
    width: 100%;
    height: 100%;
}

.screenshot__btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: $scr-btn-bg;
    border: none;
}

.screenshot__btn.active {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: $btn-active;
    border: none;
}

.screenshot--circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid white;
    position: relative;
}

.screenshot__ward-icons {
    display: flex;
    flex-direction: row;
}

.screenshot__icon {
    margin-left: 20px;
}

.screenshot__name {
    display: inline-block;
    width: 70%;
    text-align: center;
    padding-bottom: 10%;
}

.screenshot__part-text {
    font-family: Gilroy, sans-serif;
    font-size: 1.4375rem;
    font-weight: 600;
    justify-content: flex-start;
    letter-spacing: 0;
    line-height: 2rem;
    max-height: 30rem;
    overflow-wrap: anywhere;
    overflow-y: auto;
    scrollbar-width: none;
    text-align: center;
    white-space: break-spaces;
    width: 100%;
    height: auto;
}

.screenshot__ward-text {
    text-align: center;
    margin: 20px 0;
    color: #333640;
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.375rem;
    padding: 1.5rem;
    text-align: center;
}

.screenshot__icon-left {
    left: 90px;
    background-color: $oct-bg;
    z-index: 2;
}

.screenshot__icon-right {
    right: 90px;
    z-index: 3;
    background-color: $gir-bg;
}

.questions__icon-img {
    margin-bottom: 10px;
    margin-right: 10px;
}

.extra-faq {
    background-color: $faq-bg;
    border-radius: 30px;
    margin: 50px 0;
    width: 100%;
    height: auto;
    padding: 30px 50px;
    color: $faq-text;
    flex-wrap: wrap;
}
@media (max-width: 700px) {

    .screenshot {
        width: 90%;
    }
    .extra-faq {
        justify-content: center !important;
    }

    .screenshot__body {
        padding: 10px;
    }
}

@media (max-width: 410px) {
    .how__text {
        width: 100%;
    }
}