@import './variables/var.scss';

.rating {
    padding: 10px;
    width: 100%;
    height: calc(100vh - 65px - 148px);
    margin: 0 auto;
    margin-top: 65px;
}

.rating__wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    height: auto;
}

.rating-title {
  font-size: 1.4375rem;
  text-align: center;
  letter-spacing: 0;
  line-height: 2rem;
}

.rating__svg {
  width: 13rem;
  margin-top: 0.5rem;
  height: 13rem;
  background: none;
}

.rating-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  max-width: 40rem;
}

.rating-star{
  position: relative;
  font-size: 0;
  width: 250px;
  height: 50px;
  background-image: url(../assets/icons/star.svg);
}

.star{
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 5;
  display: inline-block;
}
.current{
  outline: 1px solid;
  background-image: url(../assets/icons/star-active.svg);
}

.star:nth-child(2){
  left: 50px;
}
.star:nth-child(2):hover{
  width: 100px;

}
.star:nth-child(3){
  left: 100px;
}
.star:nth-child(3):hover{
/*   width: 55%; */
  position: absolute;

  width: 150px;
  
}
.star:nth-child(4){
  left: 150px;
}
.star:nth-child(4):hover{
  width: 200px;

}
.star:nth-child(5){
  left: 200px;
}
.star:nth-child(5):hover{
  width: 250px;

}
.star:hover{
  z-index: 2;
  left: 0;
  background-image: url(../assets/icons/star-active.svg);
}

.rating-feedback {
  width: 100%;
}



// .authorization__form {
//     width: 100%;
//     flex-direction: column;
// }
// .authorization__input {
//     height: 50px;
// }
// .authorization__btn {
//     margin: 0 auto;
// }

// .authorization__to-reg a:hover {
//     cursor: pointer;
// }
@media (max-height: 920px) {

    .rating {
        height: 120vh;
    }

}