$btn-active: #ff6960;
$reg-color:#ff6960;
$number-color: #ff6960;
$number-bg: #ffe0de;
$cost-bg: #f1ecfe;
$part-bg: #ffeff3;
$ward-bg: #e7f5ff;
$limit-bg: #f3f6f9;
$toggle-bg: #67568c;
$footer-bg:#67568c;
$scr-btn-bg: #50426c;
$oct-bg: #ffecd7;
$gir-bg: #ffeaed;
$faq-bg: #f1ecfe;
$faq-text: #67568c;