// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';
@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-ExtraBold.otf');
    src: url('./assets/fonts/Gilroy-Light.otf');
}
.accordion-button {
    background-color: unset !important;
    color: unset !important;
}
:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
* {
    box-sizing: border-box;
}
.main__wrapper {
    width: 80%;
    // border: solid red;
}
.logo::after {
    content: '.';
    color: red;
}
.header {
    width: 100%;
    height: 65px;
    z-index: 100;
    opacity: 1;
    background-color: white;
}
.header-wrapper {
    height: 100%;
    width: 80%;
}
.navigation__reg {
    color: #ff6960;
    font-family: Gilroy, sans-serif;
    font-size: 1rem;
}
.main__wrapper {
    //border: solid red;
    top: 150px;
    margin: 0 auto;
    margin-top: 150px;
}
.subheader {
    max-width: 540px;
    margin-bottom: 50px;
}
.subheader p {
    font-size: 21px;
    font-family: Gilroy, sans-serif;
}
h1 {
    font-size: 64px;
    font-weight: 600;
    font-family: Gilroy, sans-serif;
}
h3 {
    padding-bottom: 40px;
}
.main__button {
    border-radius: 50px;
    width: fit-content;
    min-width: 200px;
    height: 60px;
    border: 0.1px solid rgb(233, 233, 233);
    font-weight: 400;
}

.main__button.active {
    background-color: #ff6960 !important;
    color: white;
    border: none;
}
.how {
    width: 100%;
}
.how .row {
    margin-bottom: 50px;
}
.how__img {
    width: 640px;
    height: 640px;
    border: 1px solid;
    border-radius: 30px;
}
.how__numbers {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: #ff6960;
    background-color: #ffe0de;
}
.how__text {
    padding-top: 25px;
    width: 400px;
}
html {
    height: 100%;
}
a {
    text-decoration: none !important;
    color: black;
}
.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__banner {
    position: relative;
    top: 65px;
    background: linear-gradient(180deg,#d0e5f2,#d0e5f2 54%,#fdfdff);
}
.main__lights {
    position: absolute;
    top: 240px;
}
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions__icon-img {
    margin-bottom: 10px;
    margin-right: 10px;
}
.extra-faq {
    background-color: #f1ecfe;
    border-radius: 15px;
    margin: 50px 0;
    height: 120px;
    padding: 0 50px;
    color: #67568c;
}
.footer {
    width: 100%;
    height: 130px;
    background-color: #67568c;
    z-index: 95;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer_img-rs {
    width: 100px;
    height: 100px;
}
.footer__buttons {
    color: white;
    width: 30%;
}
.footer_date {
    color: white;
}
.footer__link {
    width: 100%;
}
.footer_img-git {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 0.1px solid white;
    background-color: white;
    border-radius: 30px;
}
.footer__name {
    display: inline-block;
    width: 65%;
}
.footer__produced {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 5px;
}

.footer__header {
    display: block;
    color: white;
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: start;
    margin-bottom: 5px;
}

.footer__link {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 100;
    height: 50px;
}

@media screen and (max-width: 410px) {
    .footer_img-rs {
        width: 60px;
    }
    .footer_date {
        font-size: 16px;
    }
    .footer__produced {
        font-size: 16px;
        width: 40%;
    }
    .footer__produced > a {
        font-size: 12px;
    }
    .footer__header {
        font-size: 12px;
    }
    .footer_img-git {
        width: 10px;
        height: 10px;
        margin-left: 5px;
        border: 0.1px solid white;
    }
}
