// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';
@import './styles/variables/var.scss';

@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-ExtraBold.otf');
    src: url('./assets/fonts/Gilroy-Light.otf');
}

.accordion-button {
    background-color: unset !important;
    color: unset !important;
}

* {
    box-sizing: border-box;
    // border: .1px solid;
}

html {
    height: 100%;
}

a {
    text-decoration: none !important;
    color: $reg-color;
    cursor: pointer;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    font-family: Gilroy, sans-serif;
}

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed_center {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header {
    width: 100%;
    height: 65px;
    z-index: 100;
    background-color: white;
}

.header-wrapper {
    height: 100%;
    width: 95%;
    max-width: 1500px;
}

.logo::after {
    content: '.';
    color: red;
}

.navigation__reg {
    color: $reg-color;
    font-family: Gilroy, sans-serif;
    font-size: 1rem;
}

.navigation__reg .nav__link{
    color: #ff6960;
    font-family: Gilroy, sans-serif;
    font-size: 1rem;
}

.footer {
    width: 100%;
    height: auto;
    background-color: $footer-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer_img-rs {
    width: 100px;
    height: auto;
}

.footer__buttons {
    color: white;
    width: 40%;
    height: auto;
    flex-wrap: wrap;
    height: fit-content;
}

.footer__buttons .nav__link {
    color: white;
    width: 40%;
    height: auto;
    flex-wrap: wrap;
    height: fit-content;
}

.footer_date {
    color: white;
}

.footer__link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.footer_img-git {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 0.1px solid white;
    background-color: white;
    border-radius: 30px;
}

.footer__name {
    display: inline-block;
    width: 65%;
    font-weight: 500;
    font-family: Gilroy, sans-serif;
}

.footer__produced {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    padding: 5px;
}

.footer__header {
    display: block;
    color: white;
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: start;
    margin-bottom: 5px;
}

@media (max-width: 700px) {
    .main__button {
        margin: 10px 0;
    }

    .footer__buttons {
        font-size: 14px;
        width: 40%;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    .accordion-body {
        font-size: 14px;
    }

}

@media (max-width: 410px) {

    .footer_img-rs {
        width: 60px;
    }

    .footer_date {
        font-size: 16px;
    }

    .footer__produced {
        font-size: 14px;
        width: 50%;
    }

    .footer__produced>a {
        font-size: 12x;
    }

    .footer__header {
        font-size: 12px;
    }

    .footer_img-git {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        border: 0.1px solid white;
    }
}