@import '../node_modules/normalize.css/normalize.css';
@import '~bootstrap/scss/bootstrap';
@import './styles/variables/var.scss';
@import './styles/global.scss';
@import './styles/main.scss';
@import './styles/authorization.scss';