@import '../node_modules/normalize.css/normalize.css';
@import '~bootstrap/scss/bootstrap';
@import './styles/variables/var.scss';
@import './styles/global.scss';
@import './styles/main.scss';
@import './styles/authorization.scss';
@import './styles/account.scss';
@import './styles/snow.scss';
@import './styles/boxes.scss';
@import './styles/rating.scss';
@import './styles/faq.scss';
@import './styles/card.scss';
@import './styles/newBox.scss';
@import './styles/editCard.scss';

